{% extends 'base.html' %}

{% block body %}

     <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Editing {{contract.contract_id}} now</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" data-toggle="validator">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dob">End Date *</label>
                                        <input value="{{end_date}}" type="" class="form-control" id="dob" name="end_date" />
                                    </div>
                                </div>  
                                <div class="col-md-4">                      
                                    <div class="form-group">
                                        <label>Account N#</label>
                                        <input value={{contract.contract_value}} name= "account_number" type="text" class="form-control" placeholder="Account N#" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>    
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Contract Type</label>
                                        <select value={{contract.department.name}} name="contract_type" class="selectpicker form-control" data-style="py-0">
                                            <option value="{{contract.contract_type.id}}">{{contract.contract_type}}</option>
                                            {% for i in types %}
                                            <option value="{{i.id}}">{{i.name}}</option>
                                            {% endfor %}
                                      
                                        </select>
                                    </div>
                                </div> 
                                <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label>Department</label>
                                        <select name="department" class="selectpicker form-control" data-style="py-0">
                                            <option value="{{contract.department.id}}">{{contract.department.name}}</option>
                                            {% for i in departments %}
                                            {% for a in request.user.account.allowed_departments %}
                                            {% if i.id|stringformat:"i" == a %}
                                            <option value="{{i.id}}">{{i}}</option>
                                            {% endif %}s
                                            {% endfor %}
                                            {% endfor %}
                                   
                                            
                                        </select>
                                    </div>
                                </div> 
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Currency</label>
                                        <select name="currency" class="selectpicker form-control" data-style="py-0">
                                            <option value="{{contract.currency.id}}">{{contract.currency.name}}</option>
                                        {% for i in currencies %}
                                            <option value="{{i.id}}">{{i.name}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Contract Value</label>
                                        <input value={{contract.contract_value}} name="contract_value" type="contract_value" class="form-control" placeholder="Contract Value">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor Code</label>
                                        <input value={{contract.vendor_code}} name="vendor_code" type="text" class="form-control" placeholder="Vendor Code">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Termination Terms</label>
                                        <select name="termination_terms" class="selectpicker form-control" data-style="py-0">
                                        <option value="{{contract.termination_terms.id}}">{{contract.termination_terms.name}}</option>
                                        {% for i in termination_terms %}
                                            <option value="{{i.id}}">{{i.name}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Payment Terms</label>
                                        <select name="payment_terms" class="selectpicker form-control" data-style="py-0">
                                            <option value={{contract.payment_terms.id}}>{{contract.payment_terms.name}}</option>
                                            
                                        {% for i in payment_terms %}
                                            <option value="{{i.id}}">{{i.name}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor Email</label>
                                        <input value={{contract.vendor_email}} name="vendor_email" type="text" class="form-control" placeholder="Vendor Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor Phone</label>
                                        <input value={{contract.vendor_phone}} name="vendor_phone" type="text" class="form-control" placeholder="Vendor Phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Description *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.description}} name="description" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor Name *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.vendor_name}} name="vendor_name" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor Director *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.vendor_director}} name="vendor_director" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor VOEN *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.vendor_voen}} name="vendor_voen" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vendor Address *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.vendor_address}} name="vendor_address" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Bank Name *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.bank_name}} name="bank_name" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Bank VOEN *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.bank_voen}} name="bank_voen" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Bank Code *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.bank_code}} name="bank_code" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Bank SWIFT *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.bank_swift}} name="bank_swift" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Bank Müxbir Hesabı *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.bank_m_h}} name="bank_m_h" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Bank Hesablaşma Hesabı *</label>
                                        <div id="quill-tool">
                                            <input value={{contract.bank_h_h}} name="bank_h_h" type="text" class="form-control" placeholder="Decription" required>
                                        </div>
                                    </div>
                                </div> 
                            </div>                            
                            <button type="submit" class="btn btn-primary mr-2">Add Purchase</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
      </div>
    </div>
    <!-- Wrapper End-->


{% endblock %}